body
	background: url('/boot/images/bg.jpg') top center fixed;
	background-size: cover;
	-webkit-font-smoothing: antialiased; 

a 
	font-weight: bold

.btn 
	letter-spacing: 2px;
	text-transform: uppercase

header 
	h1 
		font-size: 40px;
		margin: 10px 0 20px 0;
	h5 
		font-size: 11px;
		font-style: italic
		opacity: .6
		a 
			font-weight: normal

.site-content
	max-width: 600px;
	padding: 30px 40px;
	margin:  auto;
	background: white;
	.description
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 30px;
	h4 
		margin-top: 30px;
	.social-login 
		.btn 
			margin-right: 20px;
			font-size: 11px;

	a.btn.btn-get-started
		border: 0;
		background: white;
		color: black;
		font-size: 12px;
		padding: 20px 30px;
	
	pre.code-box
		text-align: left;
		border: 0;
		padding: 20px;
		border-radius: 0;
		margin-top: 20px;
		h5 
			margin-top: 0;
		p 
			padding-left: 0;
	
	.share-links 
		iframe 
			margin-right: 20px;