h1 Hello #{user.fullName}

p 
  | This is a restricted area for authenticated users only. Usually called
  | 
  strong Area51

p Welcome!

p: a(href="/logout") Logout
p: a(href="/") Go back to homepage