.share-links 
  iframe(src="https://platform.twitter.com/widgets/tweet_button.html?url=http://github.com/gravityonmars/nodejs-starter&via=gravityonmars&size=small&related=cristiandouce&count=none&text=Nodejs Starter - Simple project setup using industry's best practices and modules.", allowtransparency='true', frameborder='0', scrolling='0', width='60', height='20')

  iframe(src='http://ghbtns.com/github-btn.html?user=gravityonmars&repo=nodejs-starter&type=watch&count=true&size=small', allowtransparency='true', frameborder='0', scrolling='0', width='86', height='20')

  iframe(src='http://ghbtns.com/github-btn.html?user=gravityonmars&repo=nodejs-starter&type=fork&count=true&size=small', allowtransparency='true', frameborder='0', scrolling='0', width='120', height='20')

header
  h1 NodeJS Starter
  p.description Simple project setup using industry's best practices and modules. Node.js, Express, Mongoose, passport.js, component.io, Jade, Stylus and Bootstrap. 


h4 Run from your terminal:

pre.code-box
  p 
    code git clone git@github.com:gravityonmars/nodejs-starter.git
  p 
    code cd nodejs-starter
  p 
    code make 

p
  strong Note 
  span edit your config/development.json with your Facebook & Twitter keys. 
  a(href="https://cloudup.com/c41pFaKcMBu", target="blank") Instructions here

h4 The authentication system is included:
p.social-login
  a(href="/auth/twitter").btn.btn-primary  login with Twitter

  a(href="/auth/facebook").btn.btn-primary  login with Facebook


h4 Projects using it:
ul  
  li
    a(href="http://github.com/democracyos/app", target="_blank") DemocracyOS

h4 Contributors
ul 
  li
    a(href="http://twitter.com/cristiandouce") Cristian Douce 
  li
    a(href="http://twitter.com/gravityonmars") Ricardo Rauch
