.share-links 

  a.twitter-share-button(href='https://twitter.com/share', data-url='http://github.com/gravityonmars/nodejs-starter', data-text='NodeJS Starter - Simple setup including express, mongoose, passport.js, component.io and jade.', data-via='gravityonmars', data-size='small', data-related='cristiandouce', data-count='none') Tweet
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


  iframe(src='http://ghbtns.com/github-btn.html?user=gravityonmars&repo=nodejs-starter&type=watch&count=true&size=small', allowtransparency='true', frameborder='0', scrolling='0', width='50', height='20')

  iframe(src='http://ghbtns.com/github-btn.html?user=gravityonmars&repo=nodejs-starter&type=fork&count=true&size=small', allowtransparency='true', frameborder='0', scrolling='0', width='100', height='20')

header
  h1 NodeJS Starter
  p.description Simple project setup using industry's best practices and modules. Node.js, Express, Mongoose, passport.js, component.io, Jade, Stylus and Bootstrap. 


h4 Run from your terminal:

pre.code-box
  p 
    code git clone git@github.com:gravityonmars/nodejs-starter.git
  p 
    code cd nodejs-starter
  p 
    code make 

h4 The authentication system is included:
p.social-login
  a(href="/auth/twitter").btn.btn-primary  login with Twitter

  a(href="/auth/facebook").btn.btn-primary  login with Facebook


h4 Projects using it:
ul  
  li
    a(href="http://github.com/democracyos/app", target="_blank") DemocracyOS

h4 Contributors
ul 
  li
    a(href="http://twitter.com/cristiandouce") Cristian Douce 
  li
    a(href="http://twitter.com/gravityonmars") Ricardo Rauch
